
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:ital,wght@0,100;0,400;1,500;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 11px;
    font-family: 'montserrat', sans-serif;
}

a{
    text-decoration: none;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*for Each section Title*/
.each-sections-title{
    font-size: 4rem;
    color: #000000;
    margin-bottom: 20px;
    font-weight: 300;
    text-align: center;
    text-transform:uppercase;
    letter-spacing: .1rem;
}

.each-sections-title span{
    color: rgb(232, 11, 195);
}

/*for every paragraph*/
p{
    margin-top: 15px;
    letter-spacing: 0.1rem;
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: 300;
    color: #000000;
    text-align: left;
}

/*idol part*/

.idol{
    background-image: url(./images/idol-background.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    
}
/*created a overlay*/
.idol::after{
    content: '';
    background-color: rgb(9, 9, 9);
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height:100%;
    opacity: .5;
    z-index: -1;
}

#idol .idol{
    max-width:100%; /*or 1400px*/
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

.idol  h1{
    position: relative;
    display: block;
    width: fit-content;
    color: transparent;
    font-size: 4rem;
    animation: text_showing .5s forwards;
    animation-delay: 1.3s;
}

.idol h1:nth-child(3){
    animation: text_showing_divashpaudel .4s ease forwards;
}

.idol h1 span{

    background-color: rgb(195, 0, 255);
    top: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 100%;
    animation-delay: 2s;
    animation: text_showing_box 2s ease-in-out;
}

.idol .idol-btn{
    margin-top: 32px;
    background-color: transparent;
    color:  #fff;
    display: inline-block;
    border: 1px solid rgb(195, 0, 255);
    padding: 11px 31px ;
    text-transform: none;
    letter-spacing: 0.5rem;
    font-size: 2rem;
    transition: .3s ease-in-out;
}

.idol .idol-btn:hover{
    color: #dddddd;
    background-color:rgb(195, 0, 255);
}


/*MY INTREST SECTION */
.myintrest{
}
#myintrest .myintrest{
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    max-width: 100%;
    padding: 110px 0;
}

#myintrest .myintrest-down{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#myintrest .myintrest-cards{
    position: relative;
    flex-basis: 75%;
    display: flex;
    justify-content: center;
    padding: 31px;
    border-radius: 11px;
    align-items:flex-start;
    flex-direction: column;
    margin: 11px 5%;
    background-image: url(./images/myintrestbg.jpg) ;
    background-size: cover;
    z-index: 1;
    overflow: hidden;
    transition: 0.3s;
}

#myintrest .myintrest-cards:hover {
    transform: scale(1.1);
    box-shadow:10px 0px 40px rgb(123, 0, 255);
    transition: all 0.3s ease-in-out;
  }
  

#myintrest .myintrest-cards::after{
    content: '';
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .7;
    background-color: #191818;
    z-index: -1;
}

#myintrest .myintrest-down .icon{
    margin-bottom: 21px;
    width: 81px;
    height: 81px;
}
/*for every image including the myintrest section images*/
img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#myintrest .myintrest-cards h2{
    color: #fff;
    font-size: 2.5rem;
    text-transform:uppercase;
    margin-bottom: 12px;
}

#myintrest .myintrest-cards p{
    color: #fff;
    text-align: left;
}


/*MY DESIGNS  AND CARDS*/

#Designs .Designs{
    margin-bottom: 0 auto;
    flex-direction: column;
    max-width: 80%;
    padding: 110px 0;
}

































/*key frames*/
 @keyframes text_showing_box{
    50%{
        width: 100%;
        left:0;
    }
    100%{
        width: 0;
        left: 100%;
    }
 }
 
 @keyframes text_showing{
    100%{
        color: #fff;
    }
 }

 @keyframes text_showing_divashpaudel{
    100%{
        color: rgba(255, 0, 0, 0.809);
        font-weight: 500;
    }
 }
 


 
