
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:ital,wght@0,100;0,400;1,500;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 11px;
    font-family: 'montserrat', sans-serif;
}

a{
    text-decoration: none;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*for Each section Title*/
.each-sections-title{
    font-size: 4rem;
    color: #000000;
    margin-bottom: 20px;
    font-weight: 300;
    text-align: center;
    text-transform:uppercase;
    letter-spacing: .1rem;
}

.each-sections-title span{
    color: rgb(232, 11, 195);
}

/*for every paragraph*/
p{
    margin-top: 15px;
    letter-spacing: 0.1rem;
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: 300;
    color: #000000;
    text-align: left;
}

/*for MY name style Divash paudel in top and in footer*/
.myname h1{
    text-transform: uppercase;
    color: #f7f7f7;
    font-size: 3rem;
}

/*idol part*/

.idol{
    background-image: url(./images/idol-background.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    
}
/*created a overlay*/
.idol::after{
    content: '';
    background-color: rgb(9, 9, 9);
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height:100%;
    opacity: .5;
    z-index: -1;
}

#idol .idol{
    max-width:100%; /*or 1400px*/
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

.idol  h1{
    position: relative;
    display: block;
    width: fit-content;
    color: transparent;
    font-size: 4rem;
    animation: text_showing .5s forwards;
    animation-delay: 1.3s;
}

.idol h1:nth-child(3){
    animation: text_showing_divashpaudel .4s ease forwards;
}

.idol h1 span{

    background-color: rgb(195, 0, 255);
    top: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 100%;
    animation-delay: 2s;
    animation: text_showing_box 2s ease-in-out;
}

.idol .idol-btn{
    margin-top: 32px;
    background-color: transparent;
    color:  #fff;
    display: inline-block;
    border: 1px solid rgb(195, 0, 255);
    padding: 11px 31px ;
    text-transform: none;
    letter-spacing: 0.5rem;
    font-size: 2rem;
    transition: .3s ease-in-out;
}

.idol .idol-btn:hover{
    color: #dddddd;
    background-color:rgb(195, 0, 255);
}


/*MY INTREST SECTION */
.myintrest{
}
#myintrest .myintrest{
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    max-width: 100%;
    padding: 110px 0;
}

#myintrest .myintrest-down{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#myintrest .myintrest-cards{
    position: relative;
    flex-basis: 80%;
    display: flex;
    justify-content: center;
    padding: 31px;
    border-radius: 11px;
    align-items:flex-start;
    flex-direction: column;
    margin: 11px 5%;
    background-image: url(./images/myintrestbg.jpg) ;
    background-size: cover;
    z-index: 1;
    overflow: hidden;
    transition: 0.3s;
}

#myintrest .myintrest-cards:hover {
    transform: scale(1.1);
    box-shadow:10px 0px 40px rgb(123, 0, 255);
    transition: all 0.3s ease-in-out;
  }
  

#myintrest .myintrest-cards::after{
    content: '';
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .7;
    background-color: #191818;
    z-index: -1;
}

#myintrest .myintrest-down .icon{
    margin-bottom: 21px;
    width: 81px;
    height: 81px;
}
/*for every image including the myintrest section images*/
img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#myintrest .myintrest-cards h2{
    color: #fff;
    font-size: 2.5rem;
    text-transform:uppercase;
    margin-bottom: 12px;
}

#myintrest .myintrest-cards p{
    color: #fff;
    text-align: left;
}


/*MY DESIGNS  AND CARDS*/

#Designs .Designs{
    margin-bottom: 0 auto;
    flex-direction: column;
    padding: 110px 0;
    max-width: 1300px;
}

#Designs .Designs-head h1{
    margin-bottom: 60px;
}

#Designs .all-Designs{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#Designs .Designs-cards{
    width: 85%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#Designs .Designs-info{
    padding: 32px;
    background-color: rgb(60, 72, 151);
    flex-basis: 49%;
    display: flex;
    align-items: flex-start;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    color: #fff;
}

#Designs .Designs-info h1{
    font-weight: 500;
    font-size: 3.5rem;
}

#Designs .Designs-info h2{
    font-weight: 400;
    font-size: 2rem;
    margin-top: 8px;
}

#Designs .Designs-info p{
    color: rgb(230, 230, 230);
}

#Designs .Designs-screenshots{
    position: relative;
    overflow: hidden;
    height: 350px;
    flex-basis: 60%;
}

#Designs .Designs-screenshots img{
    transition: .4s transform;
}

#Designs .Designs-cards:hover .Designs-screenshots img{
    background-color: rgb(0, 51, 255);
    transform: scale(1.04);
}


/*About me Section*/

.Myself{
    padding: 50px 0px;
    width: 100%;
}


.Myself img{
    width: 40%;
    max-width: 100%;
    padding-left: 40px;
    border-radius: 10px;
    height:auto;
    transition: transform .4s;
    margin-right: 50px;
}
.Myself img:hover{
    transform: scale(1.2);
    transition: 1s;
}

.about-me{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:space-evenly;
    margin: auto;
}

.about-me-text{
    text-align: justify;
    font-size: 15px;
    width: 100%;
    max-width: 800px;
    color: #f7f7f7;
    margin: 20px 0;
}

.about-me-text h1{
    font-size: 3rem;
    color: #000000;
    margin-bottom: 20px;
    font-weight: 300;
    text-align: center;
    text-transform:uppercase;
    letter-spacing: .1rem;
}

.about-me-text h3{
    color: #000000;
    font-size: 1.5rem;
    margin-bottom: 12px;
    text-align: center;
    letter-spacing: 1px;
}

.about-me-text h3 span{
    color: rgb(232, 11, 195);
}

  /*Contact Me section in homepage*/
  #contact .contact{
    max-width: 1300px;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 70px;
  }

  #contact .contact-cards{
    width: 100%;
  }

  #contact .contact-card{
    display: flex;
    width: 90%;
    padding: 20px;
    border-radius: 21px;
    margin: 32px;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 20px 1px #000000;
    flex-direction: column;
    transition: .5s;
  }

  #contact .contact-card:hover{
    box-shadow: 0 0 4px 0 #000000;
  }

  #contact .icon{
    width: 70px;
    margin:0 auto;
    margin-bottom: 18px;
  }

  #contact .contact-info h1{
    font-size: 2.5rem;
    color: #000000;
    margin-bottom: 12px;
    font-weight: 300;
    text-align: center;
    text-transform:uppercase;
    letter-spacing: .1rem;
  }

  #contact .contact-info h2{
    color: #000000;
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 1px;
  }

  /*footer section*/
   #footer{
    background:rgb(93, 86, 86);
   }

   #footer .footer{
    padding: 50px 0 10px 0;
    min-height: 250px;
    flex-direction: column;
   }
   #footer h2{
    color: #fff;
    letter-spacing: .1rem;
    margin-top: 12px;
    font-weight: 400;
    font-size: 1.7rem;
    margin-bottom: 10px;
   }

   #footer .media-logo{
    margin-bottom: 25px;
    display: flex;
   }

   #footer .media-items{
    margin-right: 25px;
   }

   #footer .media-items img{
    transition: .4s ease-in-out;
    margin-top: 5px;
   }

   #footer .media-items img:hover{
    transform: scale(1.4);
   }
   #footer p{
    color: #fff;
   }





 

































/*key frames*/
 @keyframes text_showing_box{
    50%{
        width: 100%;
        left:0;
    }
    100%{
        width: 0;
        left: 100%;
    }
 }
 
 @keyframes text_showing{
    100%{
        color: #fff;
    }
 }

 @keyframes text_showing_divashpaudel{
    100%{
        color: rgba(255, 0, 0, 0.809);
        font-weight: 500;
    }
 }


 /*media query for width of 760px(tablet)*/
 @media screen and (min-width:760px){
    #idol .idol-btn{
        padding: 25px 62px;
        font-size: 2.4rem;
    }

     h1.each-sections-title{
        font-size: 7.5rem;
    }
    .about-me-text h1{
        font-size: 7rem;
    }

    /*Idol section in 760px width(tablet)*/
    #idol h1{
        font-size: 7.4rem;
    }

 }



 

























/*@media screen and (min-width: 768px) {
    .about-me {
      max-width: 1000px;
    }
    
    .about-me-text {
      width: 50%;
      margin: 0;
      font-size: 18px;
    }
    
    .about-me-text h1 {
      font-size: 5rem;
      margin-bottom: 40px;
    }
    
    .about-me-text h3 {
      font-size: 2rem;
    }
  }*/
 
