
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:ital,wght@0,100;0,400;1,500;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 11px;
    font-family: 'montserrat', sans-serif;
}

a{
    text-decoration: none;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*idol part*/

.idol{
    background-image: url(./images/idol-background.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
/*created a overlay*/
.idol::after{
    content: '';
    background-color: rgb(9, 9, 9);
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height:100%;
    opacity: .5;
    z-index: -1;
}

.idol  h1{
    position: relative;
    display: block;
    width: fit-content;
    color: #fff;
    font-size: 4rem;
}

.idol h1 span{

    background-color: rgb(195, 0, 255);
    top: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 100%;
    animation-delay: 2s;
    animation: text_showing_box 2s ease-in-out;
}

.idol .idol-btn{
    margin-top: 32px;
    background-color: transparent;
    color:  rgb(195, 0, 255);
    display: inline-block;
    border: 1px solid rgb(195, 0, 255);
    padding: 11px 31px ;
    text-transform: none;
    letter-spacing: 0.5rem;
    font-size: 2rem;
    transition: .3s ease-in-out;
}

.idol .idol-btn:hover{
    color: #fff;
    background-color:rgb(195, 0, 255);
}

/*key frames*/
 @keyframes text_showing_box{
    50%{
        width: 100%;
        left:0;
    }
    100%{
        width: 0;
        left: 100%;
    }
 }
